<?xml version="1.0"?>
<launch>
	<arg name="world" default="_road"/>
	# Example Options:
  	- _road

	<env name="GAZEBO_MODEL_PATH" value="$(find wheel_chair_model)/model:$(optenv GAZEBO_MODEL_PATH)"/>

	<include file="$(find wheel_chair_model)/launch/empty_world.launch">
		<arg name="world_name" value="$(find wheel_chair_model)/worlds/Wheelchair$(arg world).world"/>
	</include>

	<!-- Set the control level of the wheelchair, just change the data !  -->
	<!-- CONTROL_NONE=0, CONTROL_POS_2D, CONTROL_VEL_2D, CONTROL_TORQUE_2D, CONTROL_POS_COM, CONTROL_VEL_COM, CONTROL_TORQUE_COM, CONTROL_TELE-->
	<node pkg="rostopic" type="rostopic" name="rostopic" args="pub -r 100 /quickie_wheel_Control_level std_msgs/Int64 'data: 7' "/>


	<!-- RVIZ STUFF -->
	<node name="static_tf_pub_world_to_gazebo_world" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0  0 0 0 1 world gazebo_world" />
	<node name="robot_viz" pkg="wheelchair_ds_motion" type="robot_viz.py"/>
	
	<node name="trajectory_viz" pkg="wheelchair_ds_motion" type="trajectory_viz.py"/>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find wheelchair_ds_motion)/config/rviz/wheelchair.rviz" />

</launch>
